.login-container {
    align-items: center;
    background: linear-gradient(to bottom, #00000045, #00000045), url('http://bit.ly/2gPLxZ4');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--colorWhite);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.login-filter-blur {
    background-color: var(--transparent);
    background: inherit;
    filter: blur(5px);
    height: 100%;
    margin: auto;
    max-height: 600px;
    max-width: 500px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.login-content {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    max-height: 600px;
    max-width: 500px;
    padding: 10px;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 2px 5px #00000079;
    position: relative;
}

.login-title {
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 2px 2px 5px #00000079;
}

.login-back {
    font-size: 3em;
    text-decoration: none;
    color: var(--colorGray);
    position: absolute;
    top: 5px;
    left: 17px;
    transition: all .2s ease-in-out;
}

.login-back:hover {
    color: var(--colorWhite);
    text-shadow: 2px 2px 5px black;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-height: 300px;
    height: 100%;
    width: 100%;
}

.login-form>input {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    color: var(--colorWhite);
    border-bottom: 1px solid var(--colorGray);
    width: 100%;
    transition: all .2s ease-in-out;
}

.login-form>input:focus {
    border-bottom: 1px solid var(--colorWhite);
    background: var(--transparent);
}

.login-form>input:nth-child(2) {
    margin-bottom: 10px;
}

.login-form>input::placeholder {
    color: var(--colorGray);
}

.login-button {
    font-size: 1em;
    color: var(--colorWhite);
    padding: 10px 15px;
    max-width: 150px;
    max-height: 40px;
    width: 100%;
    background: var(--transparent);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--colorGray);
}

.login-button:hover {
    background: linear-gradient(to top, var(--cor01), var(--transparent)99%);
    text-shadow: 2px 2px 50px #000000;
}

.login-button:active {
    box-shadow: inset 0 2px 7px #000000b3;
    text-shadow: 2px 2px 5px #000000d0;
    border-bottom-color: var(--cor01);
}

.login-button:nth-child(1) {
    width: 100px;
    text-decoration: none;
    text-align: center;
    opacity: .9;
}

.login-links, .login-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 0 16px;
}

.login-create-account {
    color: var(--colorGray);
    text-decoration: none;
}

.login-create-account:hover {
    text-decoration: underline;
}

.login-error {
    text-align: center;
    color: var(--colorAlert);
}

.login-social-or {
    position: relative;
    color: var(--colorGray);
}

.login-social-or::after, .login-social-or::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 20px;
    width: 50px;
    height: 0.01em;
    background: var(--colorGray);
}

.login-social-or::before {
    left: -55px;
}

.login-social {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.login-icon-social {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .7s ease-in-out;
    opacity: .9;
}

.login-icon-social:hover {
    transform: rotate(360deg);
}

.login-icon {
    width: 100%;
    height: 100%;
}

.icon-facebook {
    fill: #3b6edd;
}

.login-icon-social:active {
    transform: scale(.7);
}